{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card shadow-lg p-4 w-50 border border-light rounded">
        <h2 class="text-center mb-4">Register</h2>
        <form action="/register" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control border border-light" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control border border-light" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Register</button>
        </form>
        <div class="text-center mt-3">
            <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
        </div>
    </div>
</div>
{% endblock %}

